@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
