<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeneralSite</title>
    <link rel="icon" href="~/images/fb_logo_131505468063546639.ico" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container">
        <div class="row">
            <article class="col-lg-12 col-md-12 col-sm-12">
                <header class="clearfix">
                    <h1 class="navbar-brand navbar-brand_"><a href="index.html"><img src="https://storage.googleapis.com/general-site/book-site/fb_logo.png" alt="" height="56" width="56"></a></h1>
                    <div class="menuBox clearfix">
                        <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
                            <ul class="nav sf-menu clearfix sf-js-enabled sf-arrows">
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="index-1.html">About</a></li>
                                <li><a href="index-2.html">Books</a></li>
                                <li class="sub-menu">
                                    <a href="index-3.html" class="sf-with-ul">Events<span></span></a>
                                    <ul class="submenu sub-menu" style="display: none;">
                                        <li><a href="#">Consectetuer</a></li>
                                        <li><a href="#">Adipiscing elit</a></li>
                                        <li>
                                            <a href="#" class="sf-with-ul">Pellentesque sed</a><span></span>
                                            <ul class="sub-menu" style="display: none;">
                                                <li><a href="#">Mauris accumsan</a></li>
                                                <li><a href="#">Nulla vel diam</a></li>
                                                <li><a href="#">Sed in lacus ut</a></li>
                                                <li><a href="#">Enim adipiscing</a></li>
                                                <li><a href="#">Aliquet</a></li>
                                                <li><a href="#">Nulla venenatis</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Dolor</a></li>
                                        <li><a href="#">Aliquam congue</a></li>
                                        <li><a href="#">Fermentum nisl</a></li>
                                    </ul>
                                </li>
                                <li><a href="index-4.html">Contacts</a></li>
                            </ul><select class="select-menu" style="display: inline-block;"><option value="#">Navigate to...</option><option value="https://livedemo00.template-help.com/wt_48144/index.html">Home</option><option value="https://livedemo00.template-help.com/wt_48144/index-1.html">About</option><option value="https://livedemo00.template-help.com/wt_48144/index-2.html">Books</option><option value="https://livedemo00.template-help.com/wt_48144/index-3.html">Events</option><option value="https://livedemo00.template-help.com/wt_48144/#">––Consectetuer</option><option value="https://livedemo00.template-help.com/wt_48144/#">––Adipiscing elit</option><option value="https://livedemo00.template-help.com/wt_48144/#">––Pellentesque sed</option><option value="https://livedemo00.template-help.com/wt_48144/#">–––Mauris accumsan</option><option value="https://livedemo00.template-help.com/wt_48144/#">–––Nulla vel diam</option><option value="https://livedemo00.template-help.com/wt_48144/#">–––Sed in lacus ut</option><option value="https://livedemo00.template-help.com/wt_48144/#">–––Enim adipiscing</option><option value="https://livedemo00.template-help.com/wt_48144/#">–––Aliquet</option><option value="https://livedemo00.template-help.com/wt_48144/#">–––Nulla venenatis</option><option value="https://livedemo00.template-help.com/wt_48144/#">––Dolor</option><option value="https://livedemo00.template-help.com/wt_48144/#">––Aliquam congue</option><option value="https://livedemo00.template-help.com/wt_48144/#">––Fermentum nisl</option><option value="https://livedemo00.template-help.com/wt_48144/index-4.html">Contacts</option></select>
                        </nav>
                    </div>
                    <ul class="head_list">
                        <li><a href="#">Log In </a></li>
                        <li><a href="#">Donate</a></li>
                    </ul>
                </header>
            </article>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - GeneralSite</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>
