@model EntityModel.Entity.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Danh mục</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="@Model.ImageUrl" alt="@Model.Name" asp-append-version="true" height="300" width="300" />
                <label asp-for="ImageUrl" class="control-label">Hình ảnh</label>
                <input type="file" id="file" name="file" value="ImageUrl" class="form-control">
                <input type="hidden" value="ImageUrl">
            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label">Danh mục cha</label>
                <select name="ParentId" id="ParentId" asp-items="ViewBag.Categories" class="form-control"></select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Diễn giải</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

