body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: #242424;
    text-decoration: none;
    transition: color 0.1s;
}

    a:hover {
        color: #8c8c8c;
        cursor: pointer;
        text-decoration: none;
    }

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* FROM _Layout.cshmlt */
.static-navbar {
    /*margin-top: 55px;*/
    height: 80px;
    background-color: #fdd835;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #000000;
    /*font-weight: 900;*/
    box-shadow: 5px 0px 0px 5px #242424;
}

.static-navbar-table {
    display: table;
    height: 80px;
    width: 100%;
}

.text-color-main {
    color: #fdd835;
}

.text-color-item {
    color: #ffffff;
}

footer {
    background-color: #242424;
    padding-top: 50px;
    padding-bottom: 50px;
}

#map {
    height: 350px;
    width: 100%;
}

/* FROM Index.cshtml */
.carousel-mod {
    height: 70vh;
}

.block-information {
    height: 200px;
    display: inline-block;
    background-image: url("https://template58484.motopreview.com/mt-demo/58400/58484/mt-content/uploads/2016/04/mt-0392-home-bg1.jpg");
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.max-width-1200 {
    max-width: 1200px;
}

.block-information-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
}

.category-homepage {
    height: 275px;
}

    .category-homepage img {
        height: 100%;
        width: 100%;
    }

/* FOOTER - START */
footer a p:hover {
    color: #fdd835;
    text-decoration: none;
}
/* FOOTER - END */

.static-navbar a {
    color: #242424;
    text-decoration: none;
}

    .static-navbar a:hover {
        color: rgba(36,36,36,0.65);
        text-decoration: none;
    }

.static-navbar-item {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(36,36,36,0.65)000;
    -moz-box-shadow: inset inset 0px 0px 0px 0px rgba(36,36,36,0.65);
    box-shadow: inset inset 0px 0px 0px 0px rgba(36,36,36,0.65);
    display: inline-block;
    position: relative;
    padding: 20px;
    /*margin: 10px;*/
    -webkit-transition: box-shadow 0.3s, font-size 0.3s; /* Safari */
    transition: box-shadow 0.3s, font-size 0.3s;
    min-height: 80px;
}

    .static-navbar-item a {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .static-navbar-item:hover {
        -webkit-box-shadow: inset 0px -5px 0px 0px rgba(36,36,36,0.65);
        -moz-box-shadow: inset inset 0px -5px 0px 0px rgba(36,36,36,0.65);
        box-shadow: inset inset 0px -5px 0px 0px rgba(36,36,36,0.65);
        font-size: 11px;
    }

.category-homepage {
    height: 325px;
    margin: 20px 0;
}

    .category-homepage img {
        height: 265px;
        width: 265px;
        padding: 2px;
        border: 1px solid #d7d7d7;
        transition: border 0.5s ease;
    }

        .category-homepage img:hover {
            border: 1px solid #242424;
        }

.left-menu-item-home {
    border: none;
    padding: 7px 0;
}

.left-menu-item {
    width: 100%;
    border-bottom: 1px solid #8c8c8c;
    padding: 5px 0;
}

    .left-menu-item.active {
        width: 100%;
        border-bottom: 1px solid #242424;
        padding: 7px 0;
        color: #242424 !important;
    }

        .left-menu-item.active a {
            color: #242424 !important;
        }

    .left-menu-item a {
        color: #8c8c8c;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .left-menu-item a:hover {
            color: #242424;
        }

ul .left-menu-item.root-category:last-child, .information-block .left-menu-item:last-child, .list-new-product .left-menu-item:last-child {
    border-bottom: none;
}

.new-product-price-label {
    background-color: #fdd835;
    max-width: 80px;
    height: 20px;
    padding: 5px 16px;
    border-radius: 10px;
    color: #242424;
}

.price-label {
    width: 200px;
    position: relative;
    padding: 20px 23px 17px 47px;
    border-radius: 40px;
    margin-bottom: 15px;
    background-color: #fdd835;
    font-size: 16px;
}

.price-label-home {
    width: 130px;
    position: relative;
    padding: 10px 11px 8px 30px;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: #fdd835;
    font-size: 14px;
}

.price-label:before {
    position: absolute;
    top: 39%;
    left: 18px;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    content: "";
}

.price-label-home:before {
    position: absolute;
    top: 37%;
    left: 14px;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    content: "";
}

.category-product {
    margin: 20px 0;
    padding: 0 30px;
}

    .category-product img {
        height: 265px;
        width: 265px;
        padding: 2px;
        border: 1px solid #d7d7d7;
        transition: border 0.5s ease;
    }

        .category-product img:hover {
            border: 1px solid #242424;
        }

.carousel-mod .item {
    height: 100%;
}

    .carousel-mod .item img {
        height: 100%;
        width: auto;
    }


/* SEARCH FORM*/
.search-category-header {
    height: 40px;
    align-items: center;
    align-content: center;
    display: flex;
    padding: 15px;
    font-size: 16px;
    background-color: #242424;
    margin-top: 15px;
}