<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <select id="list-categories" class="form-control">

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ul id="list-images" class="list-unstyled list-inline">
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#list-categories').on('change', function () {
        var selected = $("#list-categories option:selected").val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAllProductImagesByCategory", "Categories")',
            data: { 'prefix': selected },
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    $("#list-images").html();
                    $("#list-images").append('<li><img src="https://storage.googleapis.com/general-site/' + result[i].name + '" alt="' + result[i].name + '" width="50" height="50" /></li>');
                }
            },
        });
    })

    $('#myModal').on('shown.bs.modal', function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAllCategories", "Categories")',
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    $("#list-categories").html();
                    $("#list-categories").append('<option value="' + result[i] + '"><span>' + RenameCategory(result[i]) + '</span></option>');
                }
            },
        });
    })

    function RenameCategory(input) {
        switch (input) {
            case "shop-khh/category/ao-bhld/":
                text = "Áo BHLD";
                break;
            case "shop-khh/category/mu-bhld/":
                text = "Mũ BHLD";
                break;
            case "shop-khh/category/quan-bhld/":
                text = "Quần BHLD";
                break;
            default:
                text = "...";
        }
        return text;
    }
    //$("#showChooseImage").on('click', function () {
    //    //setup modal
    //    $('#myModal').modal({
    //        keyboard: false,
    //        remote: '/Categories/GetAllImageProduct'
    //    }).show();
    //});
    //$('#myModal').on('showen.bs.modal', function (e) {
    //    //console.log('shown');
    //});

</script>