@model int
<div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a asp-action="Edit" asp-route-id="@Model" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>