@model string

<div class="bg-primary form-inline">
    <div class="row">
        <div class="col-md-9">
            <h5 class="bg-primary text-uppercase">&nbsp;&nbsp; @Model</h5>
        </div>
        <div class="col-md-3 pull-right">
            <a asp-action="Create" class="btn btn-primary pull-right align-middle"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Create</a>
        </div>
    </div>
</div>