<div>
    <ul class="list-group">
        <li class="list-group-item">Category</li>
        <li class="list-group-item">
            <a href=@Url.Action("Index", "Categories")>
                <i class="fa fa-inbox fa-larger icon-primary-menu"></i>
                <span>Category</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href=@Url.Action("Index", "Products")>
                <i class="fa fa-inbox fa-larger icon-primary-menu"></i>
                <span>Product</span>
            </a>
        </li>
    </ul>
</div>