body {
  padding-top: 70px;
  padding-bottom: 20px;
  background: url("https://storage.googleapis.com/general-site/book-site/pattern.png") repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2e2e2e; }

header {
  padding: 0 20px 13px 20px;
  margin-bottom: 25px;
  background: #fff; }

h1.navbar-brand_ {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  z-index: 1;
  margin-top: 13px;
  margin-right: 79px; }

nav.tm_navbar {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  min-height: 0; }

nav.tm_navbar li {
  float: left;
  font-size: 14px;
  line-height: 30px;
  padding: 0;
  position: relative;
  margin-right: 12px; }

nav.tm_navbar li.active > a {
  color: #2e2e2e;
  background: #f1f1f1; }

nav.tm_navbar li a {
  position: relative;
  padding: 29px 17px 11px 16px;
  text-transform: none;
  font: 14px 'Open Sans';
  color: #2e2e2e;
  background: transparent;
  letter-spacing: -1px;
  line-height: 22px;
  float: left;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.select-menu {
  display: none !important; }

.head_list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  margin-top: 25px; }

.head_list li {
  float: left;
  margin-left: 11px;
  line-height: 30px; }

.head_list li a {
  font: 14px 'Open Sans';
  color: #2e2e2e;
  padding: 5px 10px 6px 10px;
  background: transparent;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

a {
  text-decoration: none; }

.head_list li a:hover {
  background: #12b980;
  color: #ffffff;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px; }

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4; }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%; }

/* QR code generator */
#qrCode {
  margin: 16px; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none; } }

.navbar-content {
  height: 70px;
  background: #fff; }

.section-background {
  background: #fff; }

.thumb-pad1 {
  overflow: hidden;
  padding: 6px 6px 17px 6px;
  margin-bottom: 30px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.menuBox {
  padding: 0;
  position: relative;
  z-index: 11;
  float: left;
  margin-bottom: 0; }
