@model HomeViewModel
<footer>
    <div class="container-fluid max-width-1200" style="padding: 0;">
        <div class="row footer">
            <div class="col-md-3">
                <h4 class="text-color-main" style="font-size: 18px; font-weight: 700; text-transform: uppercase;">Information</h4>
                <a asp-controller="Home" asp-action="Store">
                    <p class="text-color-item" style="font-size: 16px; font-weight: 400;">Our Stores</p>
                </a>
                <a asp-controller="Home" asp-action="Contact">
                    <p class="text-color-item" style="font-size: 16px; font-weight: 400;">Contact Us</p>
                </a>
                <a asp-controller="Home" asp-action="About">
                    <p class="text-color-item" style="font-size: 16px; font-weight: 400;">About Us</p>
                </a>
            </div>
            <div class="col-md-3">
                <h4 class="text-color-main" style="font-size: 18px; font-weight: 700; text-transform: uppercase;">Categories</h4>
                @foreach (var cat in Model.ListCategory.Where(lc => lc.ParentId == -1))
                {
                    <a asp-controller="Category" asp-action="Index" asp-route-id="@cat.Id">
                        <p class="text-color-item" style="font-size: 16px; font-weight: 400;">@cat.Name</p>
                    </a>
                }
            </div>
            <div class="col-md-3">
                <h4 class="text-color-main" style="font-size: 18px; font-weight: 700; text-transform: uppercase;">Contact us</h4>
                <dl class="row">
                    <dt class="col-sm-1"><img src="https://template58484.motopreview.com/mt-demo/58400/58484/mt-content/uploads/2016/04/mt-0392-home-footer-icon1.png"></dt>
                    <dd class="col-sm-10 text-color-item">
                        <span>4578 Marmora Road,</span><br />
                        <span>Glasgow D04 89GR</span>
                        <br />
                        <br />
                    </dd>
                    <dt class="col-sm-1"><img src="https://template58484.motopreview.com/mt-demo/58400/58484/mt-content/uploads/2016/04/mt-0392-home-footer-icon2.png"></dt>
                    <dd class="col-sm-10 text-color-item">
                        <span>800-2345-6789</span>
                        <br />
                        <br />
                    </dd>
                    <dt class="col-sm-1"><img src="https://template58484.motopreview.com/mt-demo/58400/58484/mt-content/uploads/2016/04/mt-0392-home-footer-icon3.png"></dt>
                    <dd class="col-sm-10 text-color-main">
                        <span>info@demolink.org</span>
                    </dd>
                </dl>
            </div>
            <div class="col-md-3">
                <div class="fb-page" data-href="https://www.facebook.com/kimhuyhoang.dng" data-tabs="timeline" data-width="300" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/kimhuyhoang.dng" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/kimhuyhoang.dng">Bảo hộ lao động Kim Huy Hoàng</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</footer>