@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-3">
        RECOMMENDED BY OUR LIBRARIANS
    </div>
</div>
<div class="row">

    <div class="col-md-9">
        <div class="row">
            <article class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="thumb-pad1 maxheight" style="height: 366px;">
                    <div class="box_inner">
                        <div class="thumbnail">
                            <figure><img src="https://livedemo00.template-help.com/wt_48144/img/page1_pic1.jpg" alt=""></figure>
                            <div class="caption">
                                <a href="#">Marta Healy</a>
                                <br>
                                <hr>
                                <p>Sed in lacus ut enim adipiscing<br>aliquet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="thumb-pad1 maxheight" style="height: 366px;">
                    <div class="box_inner">
                        <div class="thumbnail">
                            <figure><img src="https://livedemo00.template-help.com/wt_48144/img/page1_pic1.jpg" alt=""></figure>
                            <div class="caption">
                                <a href="#">Marta Healy</a>
                                <br>
                                <hr>
                                <p>Sed in lacus ut enim adipiscing<br>aliquet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="thumb-pad1 maxheight" style="height: 366px;">
                    <div class="box_inner">
                        <div class="thumbnail">
                            <figure><img src="https://livedemo00.template-help.com/wt_48144/img/page1_pic1.jpg" alt=""></figure>
                            <div class="caption">
                                <a href="#">Marta Healy</a>
                                <br>
                                <hr>
                                <p>Sed in lacus ut enim adipiscing<br>aliquet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="thumb-pad1 maxheight" style="height: 366px;">
                    <div class="box_inner">
                        <div class="thumbnail">
                            <figure><img src="https://livedemo00.template-help.com/wt_48144/img/page1_pic1.jpg" alt=""></figure>
                            <div class="caption">
                                <a href="#">Marta Healy</a>
                                <br>
                                <hr>
                                <p>Sed in lacus ut enim adipiscing<br>aliquet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="col-md-3">
        <article class="col-lg-3 col-md-3 col-sm-3">
            <form id="search" class="search" action="search.php" method="GET" accept-charset="utf-8">
                <input type="text" name="s" value="Search" onfocus="if (this.value == 'Search') {this.value=''}" onblur="if (this.value == '') {this.value='Search'}">
                <a href="#" onclick="document.getElementById('search').submit()"><img src="img/magnify.png" alt=""></a>
            </form>
            <h3><span class="fa fa-star"></span>NEW &amp; NOTABLE</h3>
            <ul class="list2">
                <li><a href="#">Recent Activity</a></li>
                <li><a href="#">New Titles</a></li>
                <li><a href="#">Award Winners</a></li>
                <li><a href="#">Bestsellers</a></li>
            </ul>
            <h3><span class="fa fa-asterisk"></span>COLLECTIONS</h3>
            <ul class="list2">
                <li><a href="#">Books</a></li>
                <li><a href="#">E-books &amp; Audiobooks</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Music &amp; Recordings</a></li>
                <li><a href="#">Periodicals</a></li>
                <li><a href="#">Images</a></li>
                <li><a href="#">Braille &amp; Talking Books</a></li>
            </ul>
            <div class="locationBox">
                <h3><span class="fa fa-map-marker"></span>Location</h3>
                <p>8901 Marmora Road,<br>Glasgow, D04 89GR.</p>
            </div>
            <div class="locationBox">
                <h3><span class="fa fa-user"></span>Admission</h3>
                <p>Free</p>
            </div>
            <div class="locationBox">
                <h3><span class="fa fa-clock-o"></span>Open</h3>
                <p>10 am - 9 pm daily</p>
            </div>
        </article>
    </div>
</div>
